<div class="container-fluid">
  <app-zipcode-entry> </app-zipcode-entry>
  @if (currentConditionsByZip(); as currentConditionsByZip) {
    <app-tab-group (onTabClosed)="remove($event)">
      @for (currentCondition of currentConditionsByZip; track currentConditionsByZip.zip) {
        <app-tab [closeable]="true" [title]="currentCondition.zip">
          <app-current-conditions [currentConditionByZip]="currentCondition" (showForecast)="showForecast($event)" />
        </app-tab>
      }
    </app-tab-group>
  }
</div>
