<form class="well" [formGroup]="form" (submit)="submit()">
  <h2>Enter a zipcode:</h2>
  <input type="text" formControlName="zipcode" placeholder="Zipcode" class="form-control" />
  @if (form.controls.zipcode.invalid && (form.controls.zipcode.touched || form.controls.zipcode.dirty)) {
    @if (form.controls.zipcode.errors?.required) {
      <p>Zipcode is required.</p>
    }
    @if (form.controls.zipcode.errors?.pattern) {
      <p>Please enter a valid zipcode.</p>
    }
    @if (form.controls.zipcode.errors?.locationAlreadyExists) {
      <p>Location already in list.</p>
    }
    @if (form.controls.zipcode.errors?.weatherNotAvailable) {
      <p>Weather not available for this location.</p>
    }
  }
  <br />
  <button class="btn btn-primary" type="submit">Add location</button>
</form>
